/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/


/******************************************
/* LAYOUT
/*******************************************/
section .pictured, section .worded{
    width: 35%;
    height: 350px;
    border: 1px solid black;
    float: left;
}
.worded{
    padding: 30px;
    margin-bottom: 30px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
body {
    justify-content: center;
    padding: 10% 10% 10% 10%;
}
h4, h5, h6{
    color:  rgb(141, 136, 136);
}

.price{
    color: hsl(169, 36%, 28%);;
}
button{
    background-color: hsl(169, 36%, 28%);
    color: white;
    padding-left: 10px;
    height: 30px;
    justify-content: center;
    padding-right: 70px;
    margin-bottom: 50px;
}
 img .Cart{
    justify-items: center;

}
.desktop{
    height: 348px;
    width: 318px;
}
